
.App-main {
  min-height: 20vh;
  font-size: calc(10px + 1vmin);
  margin-top: 50px;
  margin-bottom: 50px;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

.task-list {
  display: flex;
  flex-direction: inline;
  flex-wrap: wrap;
  align-items: left;
  justify-content: start;
  margin: 25px;
}
  
.task-list .task {
  /* display: inline-flex; */
  margin: 15px;
}
  
.task-list .task input {
  margin: 3px;
}

/* button {
  border: 1px solid lightgray;
  background-color: transparent;
  padding: 10px;
  border-radius: 4px;   
}

button:hover {
  cursor: pointer;
} */
