
.App-main {
  min-height: 20vh;
  font-size: calc(10px + 1vmin);
  margin-top: 50px;
  margin-bottom: 50px;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

.task-list {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  margin: 25px;
}
  
.task-list .task {
  display: inline-flex;
  margin: 3px;
}
  
.task-list .task input {
  margin: 3px;
}