
.App-header .App-logo {
  display: inline-flex;
  align-items: center;
  font-size: calc(7px + 2vmin);
}

.App-header img {
  pointer-events: none;
}
.App-header p {
  pointer-events: none;
  margin-left: 15px;
  
}

.App-header .logo-img {
  height: 7vmin;
  margin-left: 15px;
}

.App-header {
  background-color: #282c34;
  min-height: 7vh;
  display: flex;
  align-items: center;
  font-size: calc(5px + 2vmin);
  color: white;
  justify-content: space-between;
  flex: 0 0 auto;
}

/* .App-header .nav li {
    display: inline-flex; 
    list-style:none;
    margin-right: 10px;
    padding: 5px;
} */

.App-header .user {
  margin-right: 20px;
  display: inline-flex;
  align-items: center;
}

.App-header .user-avatar {
  height: 5vmin;
  border-radius: 50%;
}

.App-header .user p {
  margin-left: 15px;
}
  