.App {
  text-align: center;
  background-color: ghostwhite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 7vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 7vh;
  display: flex;
  align-items: center;
  font-size: calc(5px + 2vmin);
  color: white;
  justify-content: space-between;
  flex: 0 0 auto;
}

.App-footer {
  background-color: #282c34;
  min-height: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 1vmin);
  color: white;
  flex: 0 0 auto;
}

.App-main {
  min-height: 20vh;
  font-size: calc(10px + 1vmin);
  margin-top: 50px;
  margin-bottom: 50px;
  flex: 1 0 auto;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

/* Header block */

.nav li {
  display: inline-flex; 
  list-style:none;
  margin-right: 10px;
  padding: 3px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
